#main{
    .main_nav{
    display:block;
    height: 54px;
    line-height:54px;
    color:#666666;
    font-size:14px;
    i{
        font-size:20px;
        margin-right:10px;
    }
    }
    .main_l{
        width: 210px;
        min-height:500px;
        // background: #04FACDFF;
        ul{
            .fenleiList{
                width: 210px;
                min-height: 32px;
                background:#F5F5F5;
                font-size:14px;
                // padding-left:10px;
               line-height:32px;
               border-bottom:1px solid #ccc;

                i{
                    margin-left:10px;
                    color:#999;
                }
                a{
                    color:#90C31F;
                }
                ul{

                    display:none;
                    li{
                        padding-left:10px;
                        color:#929292;
                        background:#fff;
                    }
                }
            }
        }
        .hotgoodsList{
            padding:0 5px;
            h2{
                display:block;
                width: 200px;
                height: 30px;
                font-size:14px;
                line-height:30px;
                color:#666666;
            }
            li{
                width: 200px;
                height: 75px;
                border-bottom:1px dashed #ccc;
                img{
                    float:left;
                    width: 50px;
                    height: 50px;
                    // background:red;
                    margin-right:5px;
                }
                h3{
                    font-size:12px;
                    color:#666;
                }
                p{
                    color:#FF6600;
                }
                p:before{
                    content:'￥';
                }
            }
        }
    }
    .main_r{

        width: 960px;
        min-height:500px;
        // background:#E2F20CFF;
        .main_r_t{
            border:1px solid #ccc;
            h2{
                font-size:14px;
                line-height:36px;
                text-indent:1em;
                width: 960px;
                height: 36px;
                background:#F5F5F5;
            }
            ul{
                color:#666;
                li{
                    box-sizing:border-box;
                    float:left;
                    height: 118px;
                    width: 238px;
                    padding:10px;
                    img{
                        width: 90px;
                        height: 90px;
                        background:red;
                        float:left;
                        margin-right:5px;
                    }
                    h3{
                        margin-top:10px;
                        font-size:12px;
                        line-height:20px;
                    }
                    p{
                        margin-top:10px;
                        color:#FF6600;
                    }
                    p:before{
                        content:'￥';
                    }
                }
            }
        }
        .main_r_c{
            font-size:14px;
            // text-align:center;
            h4{
                display:block;
                height: 50px;
                line-height:50px;

            }
            ul{
                border:1px solid #ccc;
                border-bottom:0;
                li{
                    color:#666;
                    height: 30px;
                    border-bottom:1px solid #ccc;
                    font-size:12px;
                    line-height:30px;
                    span{
                        padding-left:10px;
                        display:inline-block;
                        width: 88px;
                        height: 30px;
                        background:#F5F5F5;
                    }
                    a{
                        color:#666;
                        margin: 0 10px;
                    }
                }
                li:nth-last-child(-n+2){
                    display:none;
                }
            }
            div{
                width: 84px;
                height: 20px;
                margin: -1px auto 0;
                font-size:12px;
                color:#666;
                border:1px solid #ccc;
                text-align:center;
                border-top:0;
                line-height:20px;
                background:#fff;
            }
        }
        .main_r_b{
            h2{
                font-size:12px;
                color:#666;
                span{
                    display:inline-block;
                    padding:5px 10px;

                }
                ul{
                    li{
                        float:left;
                        margin-right:5px;
                        span{
                            padding:0;
                            display:inline-block;
                            width: 22px;
                            height: 22px;
                            // border:1px solid #ccc;
                            line-height:22px;
                            text-align:center;
                        }
                        i{
                            display:block;
                            width: 22px;
                            height: 22px;
                            border:1px solid #ccc;
                            line-height:22px;
                            text-align:center;
                        }
                    }
                }
            }
            .goodslist{
                li{
                    float:left;
                    position:relative;
                    margin-right:25px;
                    margin-bottom:22px;
                    div{
                        border:1px solid #ccc;
                        width: 218px;
                        height: 350px;
                        img{
                            width: 218px;
                            height: 220px;
                            background:red;
                        }
                        span{
                            font-size:20px;
                            color:#FF6600;
                        }
                        h2{
                            font-size:12px;
                        }
                        p{
                            font-size:12px;
                            color:#333;
                            line-height:36px;
                        }
                        h3{
                            width: 2180px;
                            height: 32px;
                            background:url(../img/listxingxing.png) no-repeat;
                        }
                    }
                    h4{
                        display:none;
                        position:absolute;
                        border:1px solid #ccc;
                        border-top:0;
                        left:0px;
                        top: 350px;
                        height: 32px;
                        width: 218px;
                        background:#fff;
                        span{
                            display:inline-block;
                            height: 20px;
                            width: auto;
                            padding:0 10px;
                            border:1px solid #ccc;
                            margin:5px 28px 0 5px;
                            font-size:12px;
                            text-align:center;
                            line-height:20px;
                            color:#fff;
                            background:#FF6600;
                            border-radius:4px;
                            i{
                                margin-right:5px;
                            }
                        }
                        span:nth-child(2){
                            margin-right:0;
                            border:1px solid #FF6600;
                            background:#fff;
                            color:#FF6600;
                        }
                    }
                }
                li:hover{
                    box-sizing:border-box;
                    // width: 214px;
                    // border:2px solid #ccc;
                    div{
                        box-shadow:2px 2px 2px #ccc,-2px -2px 2px #ccc ;
                    }
                    h4{
                        display:block;
                        z-index:200;
                        box-shadow:2px 2px 2px #ccc,-2px 2px 2px #ccc ;
                    }
                }
                li:nth-child(4n){
                    margin-right:0;
                }
            }
        }
    }

}